bleach==1.4.3
boto3==1.4.1
brotlipy==0.6.0
defusedxml==0.4.1
Django==1.10.2
gfm==0.0.3
grequests==0.3.0
html5lib==1.0b7
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
requests==2.11.1
rollbar==0.13.8
stripe==1.41.1
user-agents==0.3.2
wsgiref==0.1.2

dj-database-url==0.4.1
gunicorn==19.6.0
whitenoise==3.2.2
