bleach==2.0.0
boto3==1.4.1
brotlipy==0.6.0
cryptography==1.8.1
defusedxml==0.4.1
Django==1.10.2
django-debug-toolbar==1.6
django-oauth-toolkit==0.12.0
djangorestframework==3.6.2
gfm==0.0.3
html5lib==1.0b10
influxdb==3.0.0
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
requests==2.11.1
rollbar==0.13.11
stripe==1.41.1
ua-parser==0.5.1
user-agents==1.0.1

dj-database-url==0.4.1
gunicorn==19.6.0
whitenoise==3.2.2
