{% extends 'sites/base.html' %}

{% block title %}
  {{ podcast.name }}
{% endblock %}

{% block head %}
  <link href="/static/css/site_themes/zen/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <header>
    <div style="{{ site.get_cover_style(bgcolor='#2196F3') }}">
      <a href="{{ url('site_home', podcast_slug=podcast.slug) }}">
        {% if site.logo_url %}
          <img src="{{ site.logo_url|thumbnail(height=60, width=60, format='png') }}" alt="" class="logo" height="60" width="60">
        {% else %}
          {{ podcast.name }}
        {% endif %}
      </a>
    </div>
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <section class="footer-links">
      <div>
        {% include 'sites/menu.html' %}

        <a href="https://pinecast.com{{ url_global('feed', podcast_slug=podcast.slug) }}">
          {{ _('RSS Feed') }}
        </a>
        {%- if site.itunes_url -%}
          <a href="{{ site.itunes_url }}">
            {{ _('iTunes') }}
          </a>
        {%- endif -%}
        {%- if site.stitcher_url -%}
          <a href="{{ site.stitcher_url }}">
            {{ _('Stitcher Radio') }}
          </a>
        {%- endif -%}
      </div>
    </section>
    <section class="footer-copyright">
        <p>{{ podcast.copyright }}</p>
    </section>
  </footer>
{% endblock %}
