<div class="plans row">
  <div class="plan">
    <h4>{{ _('Starter') }}</h4>
    <span class="plan-price">$5<sub>/mo</sub></span>
    <ul>
      <li>{{ _('Actionable analytics') }}</li>
      <li>{{ _('64MB limit per episode') }}</li>
      <li>{{ _('Podcast homepage') }}</li>
    </ul>

    {% if user_settings.plan == PLANS['PLAN_STARTER'] %}
      <strong class="current-plan">{{ _('Current Plan') }}</strong>
    {% else %}
      {% if user_settings.plan == PLANS['PLAN_PRO'] or
            user_settings.plan == PLANS['PLAN_ULTIMATE'] %}
        <a class="btn btn-plain" href="#" data-plan="starter">
          {{ _('Downgrade') }}
        </a>
      {% else %}
        <a class="btn btn-plain" href="#" data-plan="starter">
          {{ _('Upgrade') }}
        </a>
      {% endif %}
    {% endif %}
  </div>
  <div class="plan">
    <h4>{{ _('Pro') }}</h4>
    <span class="plan-price">$50<sub>/mo</sub></span>
    <ul>
      <li>{{ _('Advanced analytics') }}</li>
      <li>{{ _('128MB limit per episode') }}</li>
      <li>{{ _('Create networks') }}</li>
      <li>{{ _('Feedback tool') }}</li>
    </ul>

    {% if user_settings.plan == PLANS['PLAN_PRO'] %}
      <strong class="current-plan">{{ _('Current Plan') }}</strong>
    {% else %}
      {% if user_settings.plan == PLANS['PLAN_ULTIMATE'] %}
        <a class="btn btn-plain" href="#" data-plan="pro">
          {{ _('Downgrade') }}
        </a>
      {% else %}
        <a class="btn btn-plain" href="#" data-plan="pro">
          {{ _('Upgrade') }}
        </a>
      {% endif %}
    {% endif %}
  </div>

</div>

{% if user_settings.plan != PLANS['PLAN_DEMO'] %}
  <div class="plan-free">
    <p>
      {{ _('You can return to a free plan at any time. This will hide all but ten episodes and cancel recurring tips.') }}
    </p>
    <a href="#" data-plan="demo">{{ _('Downgrade to Free') }}</a>
  </div>
{% endif %}

<footer>
  {{ _('All plans include unlimited podcasts, storage, and bandwidth.') }}
</footer>

<script>
  document.body.addEventListener('click', function(e) {
    if (!e.target.getAttribute('data-plan')) {
      return;
    }
    e.preventDefault();
    var plan = e.target.getAttribute('data-plan');

    var form = document.getElementById('submit');
    var type = form.querySelector('input');
    type.value = plan;
    form.submit();
  })
</script>
<form id="submit" method="post" action="{{ url('upgrade_set_plan') }}" style="display:none">
  <input type="hidden" name="plan" value="">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
