{% extends 'payments/tip_jar/base.html' %}

{% block title %}{{ podcast.name }}{% endblock %}

{% block content_inner %}
{% if recurring_tip %}
  <div class="existing-tip-banner">
    {% trans subs_url=url('tip_jar_subs') %}
      You have an active subscription to this podcast already. <a href="{{ subs_url }}">Manage subscriptions...</a>
    {% endtrans %}
  </div>
{% endif %}
<div class="tip-selection">
  <div class="tip-amount-selector-wrapper label">
    {% if recurring_tip %}
      <span>{{ _('How much would you update your monthly contribution to?') }}</span>
    {% else %}
      <span>{{ _('How much would you like to contribute?') }}</span>
    {% endif %}
    <div class="tip-amount-selector">
      <label>
        <input type="radio" name="amount" value="100">
        <span>$1</span>
      </label>
      <label>
        <input type="radio" name="amount" value="300">
        <span>$3</span>
      </label>
      <label>
        <input type="radio" name="amount" value="500">
        <span>$5</span>
      </label>
      <label>
        <input type="radio" name="amount" value="1000">
        <span>$10</span>
      </label>
      {% if minimum_plan(podcast.owner, PLANS.PLAN_STARTER) %}
        <label>
          <input type="radio" name="amount" value="2000">
          <span>$20</span>
        </label>
        {% if minimum_plan(podcast.owner, PLANS.PLAN_COMMUNITY) %}
          <label>
            <input type="radio" name="amount" value="5000">
            <span>$50</span>
          </label>
          {% if minimum_plan(podcast.owner, PLANS.PLAN_ULTIMATE) %}
            <label>
              <input type="radio" name="amount" value="10000">
              <span>$100</span>
            </label>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="tip-frequency-selector label" style="display: none">
    {% if recurring_tip %}
      <span>{{ _('Do you want to send a one-time tip or update your subscription?') }}</span>
      <div class="tip-frequency">
        <button data-frequency="charge">{{ _('New One Time Tip') }}</button>
        <button data-frequency="subscribe">{{ _('Update Subscription') }}</button>
      </div>
    {% else %}
      <span>{{ _('Do you want to send a one-time tip or become a monthly donor?') }}</span>
      <div class="tip-frequency">
        <button data-frequency="charge">{{ _('One Time Tip') }}</button>
        <button data-frequency="subscribe">{{ _('Subscribe') }}</button>
      </div>
    {% endif %}

    <p>
      {% trans %}
        Transactions are handled securely by <a href="https://stripe.com">Stripe</a>.
      {% endtrans %}
    </p>
  </div>
  {% if not recurring_tip %}
    <p class="existing-tip-login">
      <a href="{{ url('tip_jar_login') }}">
        {{ _('Already a subscriber?') }}
      </a>
    </p>
  {% endif %}
</div>
<div class="tip-loading" style="display: none">
  {{ _('Processing tip...') }}
</div>
<div class="tip-success tip-success-charge" style="display: none">
  {{ _('Your tip was sent to %s! <3') % podcast.name }}
</div>
<div class="tip-success tip-success-subscribe-pending" style="display: none">
  {{ _("We've sent you a confirmation email.") }}<br>
  {{ _('Click the link to confirm your subscription.') }}
</div>
<div class="tip-success tip-success-subscribe-complete" style="display: none">
  {{ _("You're all set!") }}<br>
  {{ _('You are now a subscriber of %s.') % podcast.name }}
</div>
<div class="tip-error-spec error" style="display: none"></div>
<div class="tip-error-gen error" style="display: none">
  {{ _('There was a problem submitting your tip. Please try again in a moment.') }}
</div>
{% endblock %}

{% block after_content %}
<script src="https://js.stripe.com/v2/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
window.addEventListener('load', function() {
  var amount = 0;

  var handler = StripeCheckout.configure({
    key: '{{ STRIPE_PUBLISHABLE_KEY }}',

    email: {{ (tipper.email_address|safe_json) if tipper else 'null' }},
    image: {{ podcast.cover_image|https|safe_json }},
    name: {{ podcast.name|safe_json }},
    zipCode: true,
  });

  document.querySelector('.tip-amount-selector').addEventListener('change', function(e) {
    document.querySelector('.tip-frequency-selector').style.display = 'block';
    amount = parseInt(e.target.value, 10);
  }, true);
  document.querySelector('.tip-frequency').addEventListener('click', function(e) {
    var freq = e.target.getAttribute('data-frequency');
    if (!freq) {
      return;
    }

    if (freq === 'charge') {
      handler.open({
        amount: amount,
        panelLabel: '{{ _('Send a {{amount}} tip') }}',
        token: complete.bind(null, 'charge'),
      });
    } else {
      handler.open({
        amount: amount,
        panelLabel: '{{ _('Subscribe at {{amount}}/mo') }}',
        token: complete.bind(null, 'subscribe'),
      });
    }
  }, true);

  function complete(type, token) {
    document.querySelector('.tip-selection').style.display = 'none';
    document.querySelector('.tip-loading').style.display = 'block';
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      document.querySelector('.tip-loading').style.display = 'none';
      var parsed;
      try {
        parsed = JSON.parse(xhr.responseText);
      } catch (e) {
        xhr.onerror();
        return;
      }
      if (parsed.error) {
        var errBox = document.querySelector('.tip-error-spec');
        errBox.style.display = 'block';
        errBox.textContent = errBox.innerText = parsed.error;
      } else {
        if (parsed.status) {
          document.querySelector('.tip-success-' + type + '-' + parsed.status).style.display = 'block';
        } else {
          document.querySelector('.tip-success-' + type).style.display = 'block';
        }
      }
    };
    xhr.onerror = function() {
      document.querySelector('.tip-loading').style.display = 'none';
      document.querySelector('.tip-error-gen').style.display = 'block';
    };
    xhr.open('post', {{ url('send_tip', podcast_slug=podcast.slug)|safe_json }}, true);

    var fd = new FormData();
    fd.append('type', type);
    fd.append('amount', amount);
    fd.append('token', token.id);
    fd.append('email', token.email);
    fd.append('csrfmiddlewaretoken', {{ csrf_token|safe_json }});
    xhr.send(fd);
  }

});
</script>
{% endblock %}
