<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf" content="{{ csrf_token }}">
  <title>{% block title %}{{ _('Pinecast') }}{% endblock %}</title>
  {% block css %}
  <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
  {% endblock %}
  <link type="image/png" rel="icon" href="/static/img/favicon.png">
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{{ url('django.views.i18n.javascript_catalog') }}"></script>
  {% block after_content %}{% endblock %}
  <script>
    (function() {
      Array.prototype.slice.call(document.querySelectorAll('form')).forEach(function(f) {
        f.addEventListener('submit', function() {
          var button = f.querySelector('button[type="submit"]');
          if (button) button.disabled = true;
        });
      });
    }());
  </script>
  {% include 'ga.html' %}
</body>
</html>
