<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf" content="{{ csrf_token }}">
  <title>{% block title %}{{ _('Pinecast') }}{% endblock %}</title>
  {% block css %}
  <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
  {% endblock %}
  <link type="image/png" rel="icon" href="/static/img/favicon.png">
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{{ url('javascript_catalog') }}"></script>
  {% block after_content %}{% endblock %}
  <script src="/static/js/ui-omnibus.js?3.2"></script>
  <script>
    (function() {
      Array.prototype.slice.call(document.querySelectorAll('form')).forEach(function(f) {
        f.addEventListener('submit', function() {
          var button = f.querySelector('button[type="submit"]');
          if (button) button.disabled = true;
        });
      });
      Array.prototype.slice.call(document.querySelectorAll('.publish-now')).forEach(function(f) {
        f.addEventListener('click', function(e) {
          e.preventDefault();
          var now = new Date();
          var timezoneOffset = now.getTimezoneOffset() * 60 * 1000;
          var localDate = new Date(now.getTime() - timezoneOffset);
          e.target.parentNode.querySelector('input').value = localDate.toISOString().replace(/:\d+\.\d+z/ig, '');
        });
      });
    }());
  </script>
  {% include 'ga.html' %}
</body>
</html>
