{% extends "login_base.html" %}

{% block body %}

<form method="post" action="?" class="card">
  {% if error %}
    <div class="error">
      <strong>{{ _('Error') }}</strong> {{ error }}
    </div>
  {% endif %}

  <p>{{ _('Enter your email and we\'ll help reset your password.') }}</p>

  <label>
    <span>{{ _('Email') }}</span>
    <input type="email" placeholder="{{ _('Email') }}" name="email">
  </label>

  <button type="submit">{{ _('Reset Password') }}</button>

  <footer>
    {{ _('Remember your password after all?')}} <a href="{{ url('login') }}">{{ _('Sign In') }}</a>
  </footer>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
