{% extends "login_base.html" %}

{% block body %}
<form method="post" action="?" class="card">
  {% if success %}
    <div class="success">
      <strong>{{ _('Success') }}</strong> {{ success }}
    </div>
  {% elif error %}
    <div class="error">
      <strong>{{ _('Login Error') }}</strong> {{ error }}
    </div>
  {% else %}
    <p>{{ _('Please sign in to continue.') }}</p>
  {% endif %}


  <label>
    <span>{{ _('Email') }}</span>
    <input type="email" placeholder="me@pinecast.com" name="email">
  </label>
  <label>
    <span>{{ _('Password') }}</span>
    <input type="password" name="password">
  </label>
  <button type="submit">{{ _('Sign In') }}</button>

  <div class="post-submit-links">
    {% trans su_url=url('signup') %}
      Or <a href="{{ su_url }}">sign up for an account</a>.
    {% endtrans %}
  </div>

  <footer>
    <a href="{{ url('forgot_password') }}">{{ _('Forgot your password?') }}</a>
  </footer>


  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
