@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600);

@import url(login/main.css);


main {
    font-size: 15px;
    margin: 0 auto;
    max-width: 560px;
    padding: 30px 30px 0;
    text-align: left;
}
main hgroup {
    text-align: center;
}

.cover-image {
    border-radius: 5%;
    display: block;
    margin: 0 auto 50px;
    max-height: 300px;
    max-width: 300px;
    width: 100%;
}
@media (max-width: 720px) {
    .cover-image {
        display: none;
    }
}

menu {
    padding: 0;
}

main hgroup {
    color: inherit;
}

hgroup h1, hgroup h2, hgroup h3 {
    font-weight: 300;
}


label > span,
.label > span {
    color: #888;
    display: block;
    font-size: 13px;
}

.tip-form {
    margin: 0 auto;
    max-width: 400px;
}

.tip-amount-selector-wrapper {
    margin-bottom: 20px;
    padding: 0;
}
.label > span {
    text-align: center;
}
.tip-amount-selector {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 25px;
}
.tip-amount-selector > label {
    text-align: center;
}
.tip-amount-selector > label > span {
    font-size: 18px;
    font-weight: 300;
}

.custom-tip-selector {
    padding: 0;
}
.custom-tip-selector input {
    font-size: 36px;
    font-weight: 300;
}

.tip-frequency {
    display: flex;
    margin-top: 15px;
}
.tip-frequency button {
    margin: 0 10px;
}
.tip-frequency-selector p {
    color: #ddd;
    font-size: 0.8em;
    margin: 2em 0;
    text-align: center;
}
.tip-frequency-selector p a {
    color: #bbb;
}


input[type=radio] {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    height: 0;
    width: 0;
}
input[type=radio] + span:before {
    border: 1px solid #bbb;
    border-radius: 25px;
    content: "";
    display: block;
    height: 25px;
    margin: 0 auto;
    transition: background 0.3s, box-shadow 0.3s;
    width: 25px;
}
input[type=radio]:checked + span:before {
    background: #5395D3;
    box-shadow: inset 0 0 0 2px #fff;
}
input[type=radio]:focus + span:before {
    box-shadow: 0 0 4px #5395D3;
}
input[type=radio]:focus:checked + span:before {
    box-shadow: inset 0 0 0 2px #fff, 0 0 4px #5395D3;
}


.tip-success {
    color: #23BA5A;
    line-height: 2em;
    padding: 2em 0;
    text-align: center;
}

.existing-tips {
    list-style: none;
    padding: 0;
}
.card.existing-tip {
    border: 1px solid #bbb;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 15px;
}
.existing-tip strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.existing-tip > div {
    display: flex;
}
.existing-tip > div > span {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}
.existing-tip > div > span > b {
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
}

.existing-tip .buttons {
    display: flex;
    padding-top: 10px;
}
.existing-tip .buttons .btn {
    color: #666;
    background: transparent;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0 10px 0 0;
    padding: 4px 6px;
    text-transform: none;
}
.existing-tip .buttons .btn--danger {
    border-color: #b00;
    color: #b00;
}

.existing-tip-banner {
    border: 1px solid #bbb;
    border-radius: 2px;
    margin: 0 50px 40px;
    padding: 20px;
    text-align: center;
}

.existing-tip-login {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
.existing-tip-login a {
    color: #bbb;
}
