{% extends 'dashboard/base.html' %}

{% block title %}{{ _('Upgrade') }}{% endblock %}

{% block dashboard_body %}

<header>
  <h1>{{ _('Upgrade') }}</h1>
</header>

{% if error == 'card' %}
  <div class="error">
    {{ _('There was a problem processing your card. Please contact your credit card company.') }}
  </div>
{% endif %}

{% if not stripe_customer %}
  <div class="card card-upgrade">
    <div class="upgrade-progress" data-progress="1"></div>
    <h3>{{ _('Step 1: Add a credit card') }}</h3>
    <p class="subtext">
      {% trans %}
        Card info is stored securely by <a href="https://stripe.com/">Stripe</a>.
      {% endtrans %}
    </p>
    {% include 'payments/paymentmethod/new.html' %}

    <footer>
      {% trans %}
        Adding a payment method will not charge your credit card.
      {% endtrans %}
    </footer>
  </div>

{% else %}
  <div class="card card-upgrade">
    <div class="upgrade-progress" data-progress="2"></div>
    <h3>{{ _('Step 2: Choose a plan') }}</h3>
    {% include 'payments/upgrades/plans.html' %}
  </div>

{% endif %}

{% endblock %}

{% block after_content %}
<script src="https://js.stripe.com/v2/"></script>
<script src="/static/js/ui-cc.js"></script>
{% endblock %}
