{% if not episodes %}
  <div class="episode-empty-state empty-state">
    {{ _("Analytics will become available when you've uploaded your first episode") }}
  </div>
{% else %}
  <menu class="toolbar">
    <li><a class="btn" href="{{ url('top_episodes', podcast_slug=podcast.slug) }}">{{ _('Top Episodes') }}</a></li>
  </menu>

  <div class="analytics-dash"
    data-podcast="{{ podcast.slug }}"
    data-is-podcast-owner="{{ user == podcast.owner }}"
    data-is-starter="{{ 'true' if minimum_plan(podcast.owner, PLANS.PLAN_STARTER) or is_admin else 'false' }}"
    data-is-pro="{{ 'true' if minimum_plan(podcast.owner, PLANS.PLAN_PRO) or is_admin else 'false' }}"
    data-upgrade-url="{{ url('upgrade') }}"></div>

  {% if not minimum_plan(podcast.owner, PLANS.PLAN_STARTER) and not is_admin %}
    <div class="upgrade-empty-state empty-state">
      {{ _('More analytics&mdash;including breakdowns by browser, device, and OS&mdash;are available when you upgrade to a Starter plan or better.')|safe }}
    </div>
  {% endif %}
{% endif %}
