<div class="tabs-inline tabs dynamic" data-hash-pos="1">
  <ul>
    <li class="selected">
      <a href="" data-tab=".tab-details">{{ _('Details') }}</a>
    </li>
    <li>
      <a href="" data-tab=".tab-notifications">{{ _('Notifications') }}</a>
    </li>
    {% if podcast.owner == user or user.is_staff %}
      <li>
        <a href="" data-tab=".tab-collabs">{{ _('Collaborators') }}</a>
      </li>
    {% endif %}
    <li>
      <a href="" data-tab=".tab-tip-jar">{{ _('Tip Jar') }}</a>
    </li>
    {% if site and minimum_plan(podcast.owner, PLANS.FEATURE_MIN_SITES) %}
      <li>
        <a href="" data-tab=".tab-site-options">{{ _('Site') }}</a>
      </li>
      <li class="tab--danger">
        <a href="" data-tab=".tab-site-delete">{{ _('Delete Site') }}</a>
      </li>
    {% endif %}
    {% if podcast.owner == user %}
      <li class="tab--danger">
        <a href="" data-tab=".tab-delete">{{ _('Delete Podcast') }}</a>
      </li>
    {% endif %}
  </ul>
</div>


<div class="tab-details form-block">
  {% include "dashboard/podcast/tab_settings_edit.html" %}
</div>

<div class="tab-notifications form-block" style="display: none">
  <strong>
    {{ _('Notifications')}}
    <i class="pro-tag"></i>
  </strong>

  <p>
    {% trans %}
      Notifications allow you to receive alerts when certain events occur with
      your podcast.
    {% endtrans %}
  </p>

  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_NOTIFICATIONS) %}
    {% include "dashboard/podcast/tab_settings_notifications.html" %}
  {% else %}
    {% include "dashboard/podcast/tab_settings_notifications_upgrade.html" %}
  {% endif %}
</div>

{% if podcast.owner == user or user.is_staff %}
  <div class="tab-collabs form-block" style="display: none">
    <strong>
      {{ _('Collaborators')}}
      <i class="pro-tag"></i>
    </strong>
    {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_COLLABORATORS) %}
      {% include "dashboard/podcast/tab_settings_collaborators.html" %}
    {% else %}
      {% include "dashboard/podcast/tab_settings_collaborators_upgrade.html" %}
    {% endif %}
  </div>
{% endif %}

<div class="tab-tip-jar form-block" style="display: none">
  <strong>
    {{ _('Tip Jar')}}
    <i class="pro-tag"></i>
  </strong>
  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_PRIVATE_EPS_OPTIONS) %}
    {% include "dashboard/podcast/tab_settings_tip_jar.html" %}
  {% else %}
    {% include "dashboard/podcast/tab_settings_tip_jar_upgrade.html" %}
  {% endif %}
</div>

{% if site and minimum_plan(podcast.owner, PLANS.FEATURE_MIN_SITES) %}
  <div class="tab-site-options form-block" style="display: none">
    {% include "dashboard/podcast/tab_settings_site_edit.html" %}
  </div>
  <div class="tab-site-delete form-block" style="display: none">
    {% include "dashboard/podcast/tab_settings_site_delete.html" %}
  </div>
{% endif %}

{% if podcast.owner == user or user.is_staff %}
  <div class="tab-delete form-block" style="display: none">
    {% include "dashboard/podcast/tab_settings_delete.html" %}
  </div>
{% endif %}
