<form action="{{ url('edit_site', podcast_slug=podcast.slug) }}" method="post" style="padding: 0">
  <strong>{{ _('Site Details') }}</strong>

  <label>
    <span>{{ _('Theme') }}</span>
    <div class="select">
      <select name="theme">
        {% for theme, name in SITE_THEMES %}
          <option value="{{ theme }}"{{ ' selected' if default.get('theme', site.theme) == theme else '' }}>{{ name }}</option>
        {% endfor %}
      </select>
    </div>
  </label>

  <label>
    <span>{{ _('Google Analytics ID') }}</span>
    <input type="text"
      name="analytics_id"
      placeholder="UA-123456"
      maxlength="32"
      pattern="[\w-]+"
      value="{{ default.get('analytics_id', site.analytics_id or '') }}">
  </label>

  <label>
    <span>{{ _('iTunes URL') }}</span>
    <input type="url"
      name="itunes_url"
      oninput="var x = document.querySelector('[name=show_itunes_banner]');var h = /id\w+/.exec(this.value);x.disabled = !h;x.checked = !!h;"
      placeholder="https://itunes.apple.com/la/podcast/almost-better-than-dragons/id981540916?mt=2"
      value="{{ default.get('itunes_url', site.itunes_url or '') }}">
  </label>

  <label class="checkbox">
    <input type="checkbox"
      {{ 'checked' if default.get('show_itunes_banner', site.show_itunes_banner) else '' }}
      {{ 'disabled' if not default.get('itunes_url', site.itunes_url) else '' }}
      name="show_itunes_banner"
      value="true">
    <span>{{ _('Show iTunes banner') }}</span>
  </label>

  <label>
    <span>{{ _('Stitcher Radio URL') }}</span>
    <input type="url"
      name="stitcher_url"
      placeholder="http://www.stitcher.com/podcast/this-american-life"
      value="{{ default.get('stitcher_url', site.stitcher_url or '') }}">
  </label>

  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_CNAME) %}
    <hr>

    <strong>{{ _('Custom Domain Name') }}</strong>

    <aside class="aside--secure">
      <b>{{ _('DNS Settings Instructions') }}</b>
      <ul>
        <li><a href="https://pinecast.zendesk.com/hc/en-us/articles/235192028-How-to-use-a-custom-domain-name-with-Cloudflare">{{ _('Cloudflare') }}</a></li>
        <li><a href="https://pinecast.zendesk.com/hc/en-us/articles/235414727-How-to-use-a-custom-domain-name-with-GoDaddy">{{ _('GoDaddy') }}</a></li>
        <li><a href="https://pinecast.zendesk.com/hc/en-us/articles/235192088-How-to-use-a-custom-domain-name-with-Namecheap">{{ _('Namecheap') }}</a></li>
        <li><a href="https://pinecast.zendesk.com/hc/en-us/articles/235414767-How-to-use-a-custom-domain-name-with-another-service">{{ _('Other Services') }}</a></li>
      </ul>
    </aside>

    <p>
      {% trans %}
        If you have purchased your own domain name, you can enter it here.
        After you've configured your DNS settings with your registrar, your
        site will be available at this domain name.
      {% endtrans %}
    </p>
    <p>
      {% trans url=site.get_subdomain() %}
        Leaving this field blank will make your site available at <samp>{{ url }}</samp>.
      {% endtrans %}
    </p>

    <label>
      <span>{{ _('Domain Name') }}</span>
      <div class="segment-input">
        <span>http://</span>
        <input type="text"
          name="custom_cname"
          maxlength="64"
          pattern="[\w\-\.]+"
          placeholder="theadventure.zone"
          value="{{ default.get('custom_cname', site.custom_cname or '') }}">
      </div>
    </label>

  {% endif %}

  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_BLOG) %}
    <hr>

    <strong>
      {{ _('Disqus Comments') }}
      <i class="pro-tag"></i>
    </strong>

    <p>
      {% trans disqus_url='https://disqus.com/' %}
        You can enable comments on your site blog by adding your Disqus subdomain
        URL. After signing up for <a href="{{ disqus_url }}">Disqus</a>, you'll
        choose a subdomain that looks like
        <samp>https://my-subdomain.disqus.com</samp>. Enter that here, and
        we'll automatically wire up comments on your blog.
      {% endtrans %}
    </p>

    <label>
      <span>{{ _('Disqus Subdomain') }}</span>
      <div class="segment-input">
        <span>http://</span>
        <input type="text"
          name="disqus_url"
          placeholder="my-subdomain"
          maxlength="64"
          pattern="[\w-]+"
          value="{{ default.get('disqus_url', site.disqus_url or '') }}">
        <span>.disqus.com</span>
      </div>
    </label>

  {% endif %}

  <hr>

  <aside>
    <b>{{ _('What is custom CSS?') }}</b>
    <p>
      {% trans css_url='https://developer.mozilla.org/en-US/docs/Web/CSS' %}
        You can use <a href="{{ css_url }}">CSS</a> to add a custom look and feel to an existing or unstyled site theme.
      {% endtrans %}
    </p>
  </aside>

  <label>
    <span>{{ _('Custom CSS') }}</span>
    <textarea name="custom_css">{{ default.get('custom_css', site.custom_css or '') }}</textarea>
  </label>

  <hr>

  <strong>{{ _('Cover Art') }}</strong>

  <p>{{ _('Cover art should be landscape (wider than it is tall) and be at least 1000px wide and 600px tall.') }}</p>
  <div class="upload-placeholder"
    data-optional="true"
    data-no-itunes-size-check="true"
    data-default-url="{{ default.get('cover-url', sign(site.cover_image_url) if site.cover_image_url else '') }}"
    data-default-name="{{ default.get('cover-url-name') }}"
    data-default-size="{{ default.get('cover-url-size') }}"
    data-default-type="{{ default.get('cover-url-type') }}"
    data-accept="image/*"
    data-name="cover-url"
    data-type="image"
    data-podcast="$none"></div>

  <strong>{{ _('Logo') }}</strong>

  <p>{{ _('We recommend uploading an image that\'s about 256x256px in size, but any size or SVG will be fine.') }}</p>
  <div class="upload-placeholder"
    data-optional="true"
    data-no-itunes-size-check="true"
    data-default-url="{{ default.get('logo-url', sign(site.logo_url) if site.logo_url else '') }}"
    data-default-name="{{ default.get('logo-url-name') }}"
    data-default-size="{{ default.get('logo-url-size') }}"
    data-default-type="{{ default.get('logo-url-type') }}"
    data-accept="image/*"
    data-name="logo-url"
    data-type="image"
    data-podcast="$none"></div>


  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_SITE_FAVICON) %}

    <strong>
      {{ _('Favicon') }}
      {% if PLANS.FEATURE_MIN_SITE_FAVICON == PLANS.PLAN_PRO %}<i class="pro-tag"></i>{% endif %}
    </strong>

    <p>{{ _('Favicons are the icon shown in the URL bar. We recommend a PNG image at 64x64px in size.') }}</p>
    <div class="upload-placeholder"
      data-optional="true"
      data-no-itunes-size-check="true"
      data-default-url="{{ default.get('favicon-url', sign(site.favicon_url) if site.favicon_url else '') }}"
      data-default-name="{{ default.get('favicon-url-name') }}"
      data-default-size="{{ default.get('favicon-url-size') }}"
      data-default-type="{{ default.get('favicon-url-type') }}"
      data-accept="image/*"
      data-name="favicon-url"
      data-type="image"
      data-podcast="$none"></div>

  {% endif %}

  <menu class="toolbar">
    <button class="btn" type="submit">{{ _('Update Site') }}</button>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
