<div class="card-block card">
  <strong>{{ _('Site URL') }}</strong>
  <div class="flex-row">
    <input class="col"
      readonly
      type="url"
      {% if site.custom_cname %}
        value="http://{{ site.custom_cname }}">
      {% else %}
        value="http://{{ site.podcast.slug }}.pinecast.co">
      {% endif %}
    <a
      class="btn"
      {% if site.custom_cname %}
        href="http://{{ site.custom_cname }}"
      {% else %}
        href="http://{{ site.podcast.slug }}.pinecast.co"
      {% endif %}
      style="flex: 0 0 150px; margin: 0 0 0 15px;"
    >
      {{ _('Visit Site') }}
    </a>
  </div>
</div>
