{% if not episodes %}
  <div class="episode-empty-state empty-state">
    {{ _('You will receive listener feedback here once you\'ve uploaded en episode.') }}<br>
    <a class="btn" href="{{ url('new_episode', podcast_slug=podcast.slug)}}">{{ _('Upload One Now') }}</a>
  </div>
{% else %}
  <div class="card-block card">
    <strong>{{ _('Podcast Comment Box') }}</strong>
    <p>{% trans %}Your listeners can leave questions, comments, and other feedback about your podcast. Direct them to this URL. You can shorten the URL with a service like <a href="https://bitly.com">bit.ly</a>.{% endtrans %}</p>
    <input type="url"
      title="{{ _('Podcast Comment Box') }}"
      readonly
      value="https://pinecast.com{{ url('podcast_comment_box', podcast_slug=podcast.slug) }}">
    <p>{{ _('Listeners can also leave feedback on individual episodes. See the Feedback tab on an episode dashboard to find out how.') }}</p>
  </div>
  <div class="card-block card">
    {% for f in feedback %}
      <div class="card-item">
        <a class="comment-from" href="mailto:{{ f.sender }}">
          <img src="{{ gravatar(f.sender) }}" class="comment-from-gravatar" title="{{ f.sender }}" alt="">
        </a>
        <p>
          {{ f.message }}
          <br>
          <abbr class="feedback-date" title="{{ (f.created + tz_delta).strftime('%x') }}">
            {{ f.created|pretty_date }}
          </abbr>
        </p>
        <menu class="toolbar">
          <a href="{{ url('delete_comment', kwargs={'podcast_slug': podcast.slug, 'comment_id': str(f.id)}) }}">{{ _('Delete') }}</a>
        </menu>
      </div>
    {% else %}
      <div class="episode-empty-state empty-state">
        {{ _('Nobody has submitted feedback about the show yet.') }}
      </div>
    {% endfor %}
  </div>
  {% if feedback_episodes %}
    <table class="card">
      <thead>
        <tr>
          <th class="primary">{{ _('Episode Name') }}</th>
          <th>{{ _('Feedback') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in feedback_episodes %}
          <tr>
            <td class="primary">
              <a href="{{ url('podcast_episode', podcast_slug=podcast.slug, episode_id=str(feedback.episode.id)) }}">{{ feedback.episode.title }}</a>
            </td>
            <td>
              {{ feedback.episode__count }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endif %}
