@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(../buttons.css);


*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background: #fff;
    color: #212121;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: system, -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
    font-size: 13px;
    height: 100%;
    min-height: 100%;
}


.main-container {
    padding-top: 60px;
}

main {
    padding-top: 100px;
    text-align: center;
}

@media (max-width: 500px) {
    main {
        padding: 0;
    }
}

main hgroup {
    color: #fff;
    padding-bottom: 24px;
}
main hgroup h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}
main hgroup h2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
}

main .card {
    background: #fff;
    color: #48556A;
    font-size: 14px;
    margin: auto;
    max-width: 380px;
    padding: 0 20px;
    text-align: left;
}
main form.card {
    padding-bottom: 0;
}

form > p,
main .card > p {
    color: #888;
    font-size: 14px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 15px;
}
form label > span {
    color: #888;
    font-size: 12px;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
textarea {
    background: #FBFBFB;
    border: 1px solid #DCDADA;
    border-radius: 3px;
    box-shadow: 0 0 0 transparent;
    font-size: 14px;
    margin: 2px 0 5px;
    padding: 10px 15px;
    transition: box-shadow 0.2s, border-color 0.2s;
    width: 100%;
}
input[type="password"] {
    letter-spacing: 4px;
}
form label > small {
    color: #aaa;
    display: block;
    margin-bottom: 5px;
    margin-top: -3px;
}

form .g-recaptcha {
    margin-top: 20px;
    text-align: center;
}
form .g-recaptcha > * {
    display: inline-block;
}

button {
    display: block;
    width: 100%;
}

form footer {
    border-top: 1px solid #D8D8D8;
    margin-top: 40px;
    padding: 30px 0;
    text-align: center;
}
form .post-submit-links {
    margin: 20px 0;
}

form a {
    color: #5395D3;
    text-decoration: none;
}
form a:hover {
    text-decoration: underline;
}

form p {
    margin: 0 0 20px;
}

.error {
    background: #e74c3c;
    border-radius: 4px;
    color: #fff;
    margin: 10px 0 20px;
    padding: 15px;
}
.warning {
    background: #e67e22;
    border-radius: 4px;
    color: #fff;
    margin: 10px 0 20px;
    padding: 15px;
}
.success {
    background: #4FCAB2;
    border-radius: 4px;
    color: #fff;
    margin: 10px 0 20px;
    padding: 15px;
}
