{% extends 'dashboard/base.html' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block subheader %}
<section class="subheader">
  <div>
    <hgroup>
      <a class="back-link" href="{{ url('podcast_dashboard', podcast_slug=podcast.slug) }}">
        {% trans podcast_title=podcast.name %}
          Back to {{ podcast_title }}
        {% endtrans %}
      </a>
      <h1>{{ episode.title }}</h1>
      <h2>
        {{ episode.subtitle }}
        {% if episode.subtitle %}&bull;{% endif %}
        <span title="{{ (episode.publish + tz_delta).strftime('%c') }}">
          {% if episode.is_published() %}
            {% trans published=episode.publish|pretty_date %}
              Published {{ published }}
            {% endtrans %}
          {% else %}
            {% trans published=episode.publish|pretty_date %}
              Scheduled to publish {{ published }}
            {% endtrans %}
          {% endif %}
        </span>
      </h2>
    </hgroup>
  </div>
</section>
<nav class="subnav">
  <ul class="bottom-tabs tabs dynamic">
    <li class="selected"><a data-tab=".tab-overview" href="">{{ _('Overview') }}</a></li>
    <li><a data-tab=".tab-edit" href="">{{ _('Edit') }}</a></li>
    <li><a data-tab=".tab-feedback" href="">{{ _('Feedback') }}</a></li>
  </ul>
</nav>
{% endblock %}

{% block dashboard_body %}

{% if podcast.owner == user %}
  {% set owner_settings = user_settings %}
{% else %}
  {% set owner_settings = get_user_settings(podcast.owner) %}
{% endif %}

<div class="tab-overview">
  <div class="card-block card">
    <div class="stats-panel">
      <div class="segment">
        <span>{{ _('Listens') }}</span>
        <em>{{ analytics.total_listens }}</em>
      </div>
      <div class="segment">
        <span>{{ _('Size') }}</span>
        <em>{{ episode.audio_size|filesizeformat }}</em>
      </div>
      <div class="segment">
        <span>{{ _('Duration') }}</span>
        <em>
          {% if (episode.duration / 3600)|int %}
            {{ '%02d'|format((episode.duration / 3600)|round(1, 'floor')|int) -}} :
          {%- endif -%}
          {{- '%02d'|format((episode.duration % 3600 / 60)|round(1, 'floor')|int) -}} :
          {{- '%02d'|format((episode.duration % 60)|round(1, 'floor')|int) }}
        </em>
      </div>
    </div>

    {% if analytics.total_listens %}
      <div class="analytics-dash"
        data-episode="{{ str(episode.id) }}"
        data-podcast="{{ podcast.slug }}"
        data-is-podcast-owner="{{ 'true' if user == podcast.owner else 'false' }}"
        data-is-starter="{{ 'true' if minimum_plan(podcast.owner, PLANS.PLAN_STARTER) or is_admin else 'false' }}"
        data-is-pro="{{ 'true' if minimum_plan(podcast.owner, PLANS.PLAN_PRO) or is_admin else 'false' }}"
        data-upgrade-url="{{ url('upgrade') }}"></div>
    {% else %}
      <div class="episode-empty-state empty-state">
        {% trans %}Analytics will become available when you've received your first listen{% endtrans %}
      </div>
    {% endif %}
  </div>

  <iframe src="/player/{{ str(episode.id) }}" seamless height="60" style="border:0" class="pinecast-embed"></iframe>

  <section class="row">
    <div class="card-block card markdown-editor-preview">
      {{ episode.get_html_description()|safe }}
    </div>
    <div class="sidebar">
      <div class="card-block card">
        {% if minimum_plan(user_settings, PLANS.FEATURE_MIN_SITES) and podcast.get_site() %}
          <strong>{{ _('Site Page URL') }}</strong>
          <input type="url"
            readonly
            value="http://{{ podcast.slug }}.pinecast.co/episode/{{ str(episode.id) }}">
          <hr>
        {% endif %}
        <strong>{{ _('Audio URL') }}</strong>
        <input type="url"
          readonly
          value="https://pinecast.com{{ url('listen', kwargs={'episode_id': str(episode.id)}) }}">
      </div>
    </div>
  </section>

  <div class="card-block card">
    <strong>{{ _('Embed Code') }}</strong>
    {% if minimum_plan(owner_settings, PLANS.FEATURE_MIN_PLAYER) %}
      <p>{{ _('Putting this HTML code on your webpage will show the embeddable player to your visitors.') }}</p>
      <textarea readonly class="embed-textarea"><iframe src="https://pinecast.com{{ url('player', episode_id=str(episode.id)) }}" seamless height="60" style="border:0" class="pinecast-embed" frameborder="0"></iframe></textarea>
    {% else %}
      <div class="upgrade-empty-state empty-state">
        {% if podcast.owner == user %}
          {{ _('Upgrade your account to a paid plan to be able to embed the player on other websites.') }}<br>
          <a class="btn" href="{{ url('upgrade') }}">{{ _('Upgrade Now') }}</a>
        {% else %}
          {{ _('The embeddable player is only available to podcasts owned by paid users.') }}
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% if minimum_plan(owner_settings, PLANS.FEATURE_MIN_TORRENT) %}
    <div class="card-block card">
      <strong>{{ _('Torrent URL') }}</strong>
      <p>{{ _('Note that downloads via BitTorrent are not counted towards listen stats.') }}</p>
      <input type="url"
        readonly
        value="{{ episode.audio_url }}?torrent">
    </div>
  {% endif %}

</div>

<div class="tab-edit">
  {% include 'dashboard/episode/tab_edit.html' %}
</div>

<div class="tab-feedback" style="display: none">
  {% if minimum_plan(podcast.owner, PLANS.PLAN_PRO) %}
    <div class="card-block card">
      <strong>{{ _('Comment Box') }}</strong>
      <p>{{ _('Your listeners can leave questions, comments, and other feedback about this episode at this URL.') }}</p>
      <input type="url"
        title="{{ _('Comment Box') }}"
        readonly
        value="https://pinecast.com{{ url('ep_comment_box', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)}) }}">
    </div>
    <div class="card-block card">
      {% for f in feedback %}
        <div class="card-item">
          <a class="comment-from" href="mailto:{{ f.sender }}">
            <img src="{{ gravatar(f.sender) }}" class="comment-from-gravatar" title="{{ f.sender }}" alt="">
          </a>
          <p>
            {{ f.message }}
            <br>
            <abbr class="feedback-date" title="{{ (f.created + tz_delta).strftime('%x') }}">
              {{ f.created|pretty_date }}
            </abbr>
          </p>
          <menu class="toolbar">
            <a href="{{ url('delete_comment', kwargs={'podcast_slug': podcast.slug, 'comment_id': str(f.id)}) }}">{{ _('Delete') }}</a>
          </menu>
        </div>
      {% else %}
        <div class="episode-empty-state empty-state">
          {{ _('Nobody has submitted feedback about the episode yet.') }}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="upgrade-empty-state empty-state">
      {% if user == podcast.owner %}
        {{ _('Feedback is available to users with a Pro plan.') }}
        <br>
        <a class="btn" href="{{ url('upgrade') }}">{{ _('Upgrade Now') }}</a>
      {% else %}
        {{ _('The feedback feature is available to podcasts owned by Pro users.') }}
      {% endif %}
    </div>
  {% endif %}
</div>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/react-15.0.1.min.js"></script>
<script src="/static/js/react-dom-15.0.1.min.js"></script>
<script src="/static/js/markdown-editor.js"></script>
<script src="/static/js/ui-uploader.js"></script>
<script src="/static/js/ui-ad.js"></script>
<script src="/static/js/tabs.js"></script>
<script>
markdown(document.querySelector('.description-field'));
</script>
{% endblock %}
