<form action="{{ url('edit_podcast_episode', podcast_slug=podcast.slug, episode_id=episode.id) }}" method="post" style="padding-top: 0">

  {% if error %}
    <div class="error">
      {{ _('There was a problem saving your episode details.') }}
    </div>
  {% endif %}

  <strong>{{ _('Basic Details') }}</strong>
  <label>
    <span>{{ _('Title') }}</span>
    <input type="text"
      name="title"
      placeholder="{{ _('Episode 1 - Best one ever') }}"
      required
      maxlength="1024"
      value="{{ default.get('title', episode.title) }}">
  </label>
  <label>
    <span>{{ _('Subtitle') }}</span>
    <input type="text"
      name="subtitle"
      placeholder="{{ _('You\'ll never believe it') }}"
      maxlength="1024"
      value="{{ default.get('subtitle', episode.subtitle) }}">
  </label>

  <hr>

  <strong>{{ _('Audio File') }}</strong>

  {% include 'dashboard/asides/aside_audio.html' %}

  <div class="upload-placeholder"
    data-default-url="{{ sign(default.get('audio-url', episode.audio_url)) }}"
    data-default-size="{{ default.get('audio-url-size', episode.audio_size) }}"
    data-default-name="{{ default.get('audio-url-name', _('Previously uploaded episode audio')) }}"
    data-default-type="{{ default.get('audio-url-type', episode.audio_type) }}"
    data-accept="audio/*"
    data-name="audio-url"
    data-type="audio"
    data-podcast="{{ podcast.slug }}"
    data-audio-duration-selector=".duration-control"></div>

  <label class="duration-control" style="flex-direction: row">
    <span>{{ _('Audio Length') }}</span>
    <input type="number" class="duration-hours" name="duration-hours" value="{{ default.get('duration-hours', (episode.duration / 3600)|round(1, 'floor')|int) }}" title="{{ _('Hours') }}" required min="0">:
    <input type="number" class="duration-minutes" name="duration-minutes" value="{{ default.get('duration-minutes', (episode.duration % 3600 / 60)|round(1, 'floor')|int) }}" title="{{ _('Minutes') }}" required min="0" max="59">:
    <input type="number" class="duration-seconds" name="duration-seconds" value="{{ default.get('duration-seconds', (episode.duration % 60)|round(1, 'floor')|int) }}" title="{{ _('Seconds') }}" required min="0" max="59">
  </label>

  <hr>

  <a class="expander" href="#">
    {{ _('Change publish date (published %s)...') % (episode.publish|pretty_date) }}
  </a><div style="display: none">
    {% include 'dashboard/episode/snippet_publish.html' %}
  </div>

  <hr>

  <label for="description-field"><strong>{{ _('Description') }}</strong></label>

  {% include 'dashboard/asides/aside_markdown.html' %}

  <textarea id="description-field" name="description" class="description-field markdown-editor">{{ default.get('description', episode.description)|sanitize|safe }}</textarea>

  {% set flags = podcast.get_available_flair_flags() %}
  {% if flags %}
    <div class="flair">
      <strong>{{ _('Flair') }}</strong>
      <p>{{ _('Flair is shown at the bottom of your episode description.') }}</p>
      <ul>
        {% for flag, flag_name in flags %}
          <li>
            <label class="checkbox">
              <input type="checkbox" name="flair_{{ flag }}"{{ ' checked' if default.get('flair_%s' % flag, getattr(episode, flag)) else '' }}>
              <span>{{ flag_name }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <hr>

  {% include 'dashboard/episode/snippet_metadata.html' %}

  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_COMMENT_BOX) %}
    <hr>

    {% set has_feedback_prompt = bool(default.get('feedback_prompt', episode.get_feedback_prompt(''))) %}
    {% if not has_feedback_prompt %}
      <a class="expander" href="#">
        {{ _('Add custom feedback prompt...') }}
      </a><div style="display: none">
    {% endif %}

    <strong>{{ _('Feedback') }}</strong>

    <p>{{ _('Ask your listeners for specific feedback with a feedback prompt. This will be shown on the episode feedback page and in feedback flair, if enabled.') }}</p>

    <label>
      <span>{{ _('Custom Prompt') }}</span>
      <input type="text"
        name="feedback_prompt"
        maxlength="1024"
        value="{{ default.get('feedback_prompt', episode.get_feedback_prompt('')) }}">
    </label>

    {% if not has_feedback_prompt %}
      </div>
    {% endif %}
  {% endif %}

  <hr>

  {% set has_episode_art = episode.image_url != podcast.cover_image %}
  {% if not has_episode_art %}
    <a class="expander" href="#">
      {{ _('Add episode artwork...') }}
    </a><div style="display: none">
  {% endif %}

  <strong>{{ _('Episode Image') }}</strong>

  <p>{{ _("The episode image is the graphic that will be linked on your show's feed. Some podcast clients will show this image when playing your audio instead of the show's cover image.") }}</p>

  <p>{{ _('Leaving this blank will use your podcast cover image for the episode image.') }}</p>

  <div class="upload-placeholder"
    {% if episode.image_url != podcast.cover_image %}
    data-default-url="{{ sign(default.get('image-url', episode.image_url)) }}"
    data-default-size="{{ default.get('image-url-size') }}"
    data-default-name="{{ default.get('image-url-name') }}"
    data-default-type="{{ default.get('image-url-type') }}"
    {% endif %}
    data-accept="image/*"
    data-name="image-url"
    data-type="image"
    data-optional="true"
    data-podcast="{{ podcast.slug }}"></div>

  {% if not has_episode_art %}
    </div>
  {% endif %}

  <hr>

  <menu class="toolbar">
    <button class="btn" type="submit">{{ _('Save') }}</button>
  </menu>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
