{% extends 'base.html' %}

{% block title %}{{ _('Dashboard') }}{% endblock %}

{% block content %}
<header class="main-header">
  <div>
    <h1>
      <a href="/"><span>{{ _('Pinecast') }}</span></a>
    </h1>

    <menu class="main-toolbar">
      <li class="hide-on-mobile">
        <a href="{{ url('dashboard') }}">{{ _('Dashboard') }}</a>
      </li>
      {% if podcasts %}
      <li class="hide-on-mobile">
        <span class="menu-trigger">{{ _('Podcasts') }}</span>
        <menu>
          {% for podcast in podcasts %}
            <li><a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': podcast.slug}) }}">{{ podcast.name }}</a></li>
          {% endfor %}
        </menu>
      </li>
      {% endif %}
    </menu>

    <a href="{{ url('upgrade') }}" class="upgrade-link">
      {{ _('Upgrade') }}
    </a>
    <a href="{{ SUPPORT_URL }}" class="support-link">
      {{ _('Help') }}
    </a>
    <a class="user-card menu-trigger" href="{{ url('dashboard') }}#settings">
      <img src="{{ gravatar(user.email) }}" alt="">
    </a>
    <menu class="hide-on-mobile">
      <li><a href="{{ url('logout') }}">{{ _('Sign Out') }}</a></li>
    </menu>
  </div>
</header>

{% block subheader %}{% endblock %}

<div class="main-container">
  <main data-max-upload-size="{% if podcast %}{% set owner_max_file_size = PLAN_MAX_FILE_SIZE[get_user_settings(podcast.owner).plan] %}{{ owner_max_file_size + podcast.get_remaining_surge(owner_max_file_size) }}{% else %}{{ max_upload_size }}{% endif %}">
    <noscript>
      <div class="error">
        {% trans %}
          It looks like JavaScript is turned off in your browser! Our dashboards will probably not work until it's turned back on.
        {% endtrans %}
      </div>
    </noscript>
    {% block dashboard_body %}{% endblock %}
  </main>
</div>
{% endblock %}
