{% extends 'dashboard/base.html' %}

{% block title %}{{ _('My Podcasts | Pinecast') }}{% endblock %}

{% block subheader %}
<section class="subheader">
  <div>
    <hgroup>
      <h1>{{ _('Your Dashboard') }}</h1>
    </hgroup>
  </div>
</section>
<nav class="tabs dynamic">
  <ul>
    <li class="selected">
      <a href="" data-tab=".tab-shows">{{ _('Podcasts') }}</a>
    </li>
    <li>
      <a href="" data-tab=".tab-networks">{{ _('Networks') }}</a>
    </li>
    <li>
      <a href="" data-tab=".tab-settings" aria-label="{{ _('Settings') }}">
        <span class="hide-on-mobile">{{ _('Settings') }}</span>
        <span class="hide-on-desktop">
          <i class="icon icon-sliders"></i>
        </span>
      </a>
    </li>
    {% if is_paid_plan(user_settings.plan) %}
      <li>
        <a href="" data-tab=".tab-referrals" style="color: #52D1C7" aria-label="{{ _('Referrals') }}">
          <span class="hide-on-mobile">{{ _('Referrals') }}</span>
          <span class="hide-on-desktop">
            <i class="icon icon-dollar"></i>
          </span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block dashboard_body %}

<div class="tab-shows dashboard">
  <div class="{{ 'tab-buttons' if podcasts else 'buttons-empty-state' }}">
    {% if not podcasts %}
      <p>{{ _("You're ready to create your first podcast!") }}</p>
    {% endif %}
    <a class="btn" href="{{ url('new_podcast') }}">
      {% if podcasts %}
        {{ _('New Podcast') }}
      {% else %}
        {{ _('Create Your First Podcast') }}
      {% endif %}
    </a>
  </div>

  <div class="card card-block">
    <button class="btn-plain expander expander-toggle" type="button">
      <b>
        <i class="icon icon-newspaper"></i>
        {{ _("What's New?") }}
      </b>
      <span>
        {{ news[0].title }}
        <span class="hide-on-mobile" style="opacity: 0.3">({{ news[0].when|parse_date|pretty_date }})</span>
        <i class="icon icon-angle-right"></i>
      </span>
    </button><div style="display: none; border-top: 1px solid #eee; margin: 0.5em 0 0; padding: 0.5em 0 0">
      {{ news[0].summary }}
    </div>
  </div>

  <ul class="card-list">
  {% for p in podcasts %}
    <li class="card"
      {% if p.id in podcasts_still_importing %}data-still-importing="{{ _('Import in progress...') }}"{% endif %}>

      <a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': p.slug}) }}">
        <strong>{{ p.name }}</strong>
        {%- if p.subtitle %}<span class="dashboard-item-subtitle">{{ p.subtitle }}</span>{% endif -%}
        {%- if p.id in podcasts_scheduled_episodes -%}
          <span class="icon-clock">
            {% trans count=podcasts_scheduled_episodes[p.id] %}
              {{ count }} pending episode
            {% pluralize %}
              {{ count }} pending episodes
            {% endtrans %}
          </span>
        {%- endif -%}
        {%- if p.id in podcasts_latest_episodes -%}
          <span>
            {% trans timestamp=podcasts_latest_episodes[p.id]|pretty_date %}
              Last published {{ timestamp }}
            {% endtrans %}
          </span>
        {%- endif -%}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
<div class="tab-networks dashboard" style="display: none">
  {% if not networks %}
    {% if not minimum_plan(user_settings, PLANS.FEATURE_MIN_NETWORK) %}
      <div class="upgrade-empty-state">
        <p>{{ _('Upgrade to our Pro plan and collaborate with your peers using a network. Networks let you share access to your podcasts and view stats all in one place.') }}</p>
        <a class="btn" href="{{ url('upgrade') }}">
          {{ _('Upgrade Now') }}
        </a>
      </div>
    {% else %}
      <div class="buttons-empty-state">
        <p>{{ _('Start collaborating with your peers on network of podcasts. Create your first network in seconds.') }}</p>
        <a class="btn" href="{{ url('new_network') }}">
          {{ _('Start a Network') }}
        </a>
      </div>
    {% endif %}
  {% else %}
    <div class="tab-buttons">
      <a class="btn" href="{{ url('new_network') }}">
        {{ _('New Network') }}
      </a>
    </div>
    <ul class="card-list">
      {% for n in networks %}
        <li class="card">
          <a href="{{ url('network_dashboard', network_id=str(n.id)) }}">
            <strong>{{ n.name }}</strong>
            <span>
              {% trans n=n.get_podcast_count() %}
                {{ n }} show
              {% pluralize %}
                {{ n }} shows
              {% endtrans %}
            </span>
            <span>
              {% trans n=n.get_member_count() %}
                {{ n }} member
              {% pluralize %}
                {{ n }} members
              {% endtrans %}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<div class="tab-settings dashboard" style="display: none">
  {% include 'dashboard/dashboard_settings.html' %}
</div>

{% if is_paid_plan(user_settings.plan) %}
  <div class="tab-referrals" style="display: none">
    {% include 'dashboard/dashboard_referrals.html' %}
  </div>
{% endif %}

{% endblock %}

{% block after_content %}
<script src="https://js.stripe.com/v2/"></script>
<script>
  Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');
</script>
{% endblock %}
