{% extends 'dashboard/base.html' %}

{% block title %}{{ network.name }} | Pinecast{% endblock %}

{% block subheader %}
<section class="subheader">
  <div>
    <hgroup>
      <h1>{{ network.name }}</h1>
      <h2>
        {% trans n=net_podcasts.count() %}
          {{ n }} Podcast
        {% pluralize %}
          {{ n }} Podcasts
        {% endtrans %}
      </h2>
    </hgroup>
  </div>
</section>
<nav class="subnav">
  <ul class="bottom-tabs tabs dynamic">
    <li class="selected"><a data-tab=".tab-overview" href="">{{ _('Overview') }}</a></li>
    <li><a data-tab=".tab-members" href="">{{ _('Members') }}</a></li>
    {% if len(net_podcasts) %}
      <li><a data-tab=".tab-shows" href="">{{ _('Shows') }}</a></li>
    {% endif %}
    <li><a data-tab=".tab-settings" href="">{{ _('Settings') }}</a></li>
  </ul>
</nav>
{% endblock %}

{% block dashboard_body %}
<div class="tab-overview">
  {% if len(net_podcasts) %}
    <div class="card-block card">
      <div class="chart-placeholder"
        data-type="network-listen-history"
        data-extra="network_id={{ network.id }}"
        data-title="{{ _('Listen history') }}"
        data-chart-type="line"
        data-has-legend="true"></div>
    </div>

    <table class="card">
      <thead>
        <tr>
          <th>{{ _('Episode Title') }}</th>
          <th>{{ _('Podcast') }}</th>
          <th>{{ _('Listen Count') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for e in top_episodes %}
          <tr>
            <td>
              <a href="{{ url('podcast_episode', podcast_slug=e.podcast.slug, episode_id=e.episode.id) }}">
                {{ e.episode.title }}
              </a>
            </td>
            <td>
              <a href="{{ url('podcast_dashboard', podcast_slug=e.episode.podcast.slug) }}">
                {{ e.podcast.name }}
              </a>
            </td>
            <td>{{ e.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="form-block" style="padding-top: 40px">
      <h1>{{ _('Get your network started') }}</h1>
      <p>{{ _('To begin, add a first show to the network.') }}</p>
      {% include 'dashboard/network/tab_add_show.html' %}
    </div>
  {% endif %}
</div>

{% if len(net_podcasts) %}
  <div class="tab-shows" style="display: none">
    <div class="tabs-inline tabs dynamic" data-hash-pos="1">
      <ul>
        <li class="selected">
          <a href="" data-tab=".tab-show-list">{{ _('Show List') }}</a>
        </li>
        <li>
          <a href="" data-tab=".tab-add-show">{{ _('Add Show') }}</a>
        </li>
      </ul>
    </div>
    <div class="tab-show-list form-block">
      {% for p in net_podcasts %}
        <div class="panel">
          <h2 class="segment-full" style="font-size: 1.25em; margin-bottom: 0.5em">
            <a href="{{ url('podcast_dashboard', podcast_slug=p.slug) }}">{{ p.name }}</a>
          </h2>

          <p class="segment-full">{{ p.description }}</p>

          {% if user == network.owner or p.owner == user %}
            <form action="{{ url('network_remove_podcast', network_id=network.id, podcast_slug=p.slug) }}" method="post" style="padding-bottom: 1em">
              <button class="btn btn--tiny btn--danger btn--subtle" type="submit">
                {{ _('Remove') }}
              </button>
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </form>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="tab-add-show form-block" style="display: none">
      {% include 'dashboard/network/tab_add_show.html' %}
    </div>
  </div>
{% endif %}

<div class="tab-members" style="display: none">
  <div class="tabs-inline tabs dynamic" data-hash-pos="1">
    <ul>
      <li class="selected">
        <a href="" data-tab=".tab-member-list">{{ _('Details') }}</a>
      </li>
      <li>
        <a href="" data-tab=".tab-add-member">{{ _('Add Member') }}</a>
      </li>
    </ul>
  </div>

  <div class="tab-member-list form-block">
    <div class="panel">
      <img src="{{ gravatar(network.owner.email) }}" alt="" class="avatar">
      <div class="segment-fill">
        <strong style="display: block">{{ _('Owner') }}</strong>
        <a href="mailto:{{ network.owner.email }}" class="email">{{ network.owner.email }}</a>
      </div>
    </div>

    <hr>

    <strong style="display: block; margin-bottom: 1em">{{ _('Network Members') }}</strong>

    {% for m in network.members.all() %}
      <div class="panel">
        <img src="{{ gravatar(m.email) }}" alt="" class="avatar">

        <div>
          <p>{{ m.email }}</p>

          {% if m != network.owner or m == user and m != network.owner %}
            <form action="{{ url('network_remove_member', network_id=network.id, member_id=m.id) }}" method="post" style="padding-bottom: 1em">
              <button class="btn btn--tiny btn--danger btn--subtle" type="submit">
                {{ _('Remove') }}
              </button>
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </form>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="tab-add-member form-block" style="display: none">
    <strong>{{ _('Add Member') }}</strong>
    {% if error == 'udne' %}
      <div class="error">{{ _('A user with that email address could not be found.') }}</div>
    {% endif %}
    <form class="inline-form panel" action="{{ url('network_add_member', network_id=network.id) }}" method="post">
      <label>
        <strong>{{ _('Email') }}</strong>
        <input type="email" name="email" placeholder="mypodcastfriend@pinecast.com">
      </label>

      <menu class="toolbar">
        <button class="btn" type="submit">{{ _('Add') }}</button>
      </menu>

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>
  </div>

</div>

<div class="tab-settings" style="display: none">
  {% if user == network.owner %}
    <div class="tabs-inline tabs dynamic" data-hash-pos="1">
      <ul>
        <li class="selected">
          <a href="" data-tab=".tab-details">{{ _('Details') }}</a>
        </li>
        <li class="tab--danger">
          <a href="" data-tab=".tab-deactivate">{{ _('Deactivate Network') }}</a>
        </li>
      </ul>
    </div>
  {% endif %}

  <div class="tab-details form-block">
    {% include 'dashboard/network/tab_details.html' %}
  </div>

  {% if user == network.owner %}
    <div class="tab-deactivate form-block" style="display: none">
      {% include 'dashboard/network/tab_deactivate.html' %}
    </div>
  {% endif %}

</div>

{% endblock %}

{% block after_content %}
<script src="/static/js/tabs.js"></script>
<script src="/static/js/ui-chart.js"></script>
<script src="/static/js/ui-uploader.js"></script>
<script>
Array.from(document.querySelectorAll('.confirm-delete')).forEach(function(elem) {
  elem.addEventListener('change', function(e) {
    document.querySelector(elem.getAttribute('data-confirming')).disabled = !elem.validity.valid;
  });
});
</script>
{% endblock %}
