{% extends 'dashboard/base.html' %}

{% block subheader %}
<section class="subheader">
  <div>
    <hgroup>
      <h1>{{ network.name }}</h1>
      <h2>
        {% trans n=net_podcasts.count() %}
          {{ n }} Podcast
        {% pluralize %}
          {{ n }} Podcasts
        {% endtrans %}
      </h2>
    </hgroup>
  </div>
</section>
<nav class="subnav">
  <ul class="bottom-tabs tabs dynamic">
    <li class="selected"><a data-tab=".tab-overview" href="">{{ _('Overview') }}</a></li>
    <li><a data-tab=".tab-members" href="">{{ _('Members') }}</a></li>
    <li>
      <a href="{{ url('network_edit', network_id=network.id) }}">
        {{ _('Settings') }}
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block dashboard_body %}
<div class="tab-overview">
  {% if len(net_podcasts) %}
    <div class="card-block card">
      <div class="chart-placeholder"
        data-type="network-listen-history"
        data-extra="network_id={{ network.id }}"
        data-title="{{ _('Listen history') }}"
        data-chart-type="line"
        data-has-legend="true"></div>
    </div>

  {% endif %}
  <div class="card-block card">
    <a href="{{ url('network_add_show', network_id=network.id) }}" class="btn card-btn">
      {% if network.podcast_set.count() %}
        {{ _('Add another podcast') }}
      {% else %}
        {{ _('Add a podcast') }}
      {% endif %}
    </a>
    <strong>{{ _('Network Podcasts') }}</strong>
    {% for p in net_podcasts %}
      <div class="card-item">
        <strong>
          <a href="{{ url('podcast_dashboard', podcast_slug=p.slug) }}">{{ p.name }}</a>
        </strong>

        <p>{{ p.description }}</p>

        {% if user == network.owner or p.owner == user %}
          <menu class="toolbar">
            <a href="{{ url('network_remove_podcast', network_id=network.id, podcast_slug=p.slug) }}" title="{{ _('Remove this podcast from the network') }}">
              {{ _('Remove') }}
            </a>
          </menu>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="tab-members" style="overflow: hidden; height: 0">
  <div class="card card-block">
    <strong>{{ _('Owner') }}</strong>
    <address class="user-card">
      <img src="{{ gravatar(network.owner.email) }}" alt="">
      <span class="name">{{ network.owner.email }}</span>
      <a href="mailto:{{ network.owner.email }}" class="email">{{ network.owner.email }}</a>
    </address>
  </div>

  {% if minimum_plan(user, PLANS.PLAN_STARTER) %}
    <div class="card card-block">
      <strong>{{ _('Add Member') }}</strong>
      {% if add_member_error %}
        <div class="error">{{ add_member_error }}</div>
      {% endif %}
      {% if add_member_success %}
        <div class="success">{{ _('Member added successfully') }}</div>
      {% endif %}
      <form action="{{ url('network_add_member', network_id=network.id) }}" method="POST">
        <label>
          <span>{{ _('Email') }}</span>
          <input type="email" name="email">
        </label>

        <menu class="toolbar">
          <li><button type="submit">{{ _('Add Member') }}</button></li>
        </menu>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      </form>
    </div>
  {% endif %}

  <div class="card-block card">
    <strong>{{ _('Network Members') }}</strong>
    {% for m in network.members.all() %}
      <div class="card-item">
        <a class="comment-from" href="mailto:{{ m.email }}">
          <img src="{{ gravatar(m.email) }}" alt="">
        </a>

        <p>{{ m.email }}</p>

        {% if m != network.owner or m == user and m != network.owner %}
          <menu class="toolbar">
            <a href="{{ url('network_remove_member', network_id=network.id, member_id=m.id) }}">
              {{ _('Remove') }}
            </a>
          </menu>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block after_content %}
<script src="/static/js/react-15.0.1.min.js"></script>
<script src="/static/js/react-dom-15.0.1.min.js"></script>
<script src="/static/js/ui-chart.js"></script>
<script src="/static/js/tabs.js"></script>
{% endblock %}
