{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

{% if error %}
  <div class="error">
    {{ _('Please make sure you fill out each field correctly.') }}
  </div>
{% endif %}

<form class="card card-block" action="{{ url('site_blog_post', podcast_slug=site.podcast.slug, post_slug=post.slug) }}" method="post">
  <strong>{{ _('Edit Blog Post') }}</strong>

  <label>
    <span>{{ _('Title') }}</span>
    <input type="text" required name="title" maxlength="512" value="{{ default.get('title', post.title) }}">
  </label>

  <label>
    <span>{{ _('Slug') }}</span>
    <input type="text" name="slug" required pattern="[\w-]+" value="{{ default.get('slug', post.slug) }}">
  </label>

  <label>
    <span>{{ _('Publish On') }}</span>
    <input type="datetime-local" name="publish" required value="{{ default.get('publish', (post.publish + tz_delta).strftime('%Y-%m-%dT%H:%M')) }}">
  </label>

  <label class="markdwon-editor-small">
    <span>{{ _('Body') }}</span>
    <textarea class="markdown-editor" name="body">{{ default.get('body', post.body) }}</textarea>
  </label>

  <menu class="toolbar">
    <button>{{ _('Save Post') }}</button>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<script src="/static/js/markdown-editor.js"></script>
{% endblock %}
